<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<title>Chat Room</title>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
	<link rel='stylesheet' type='text/css' href='/static/styles/style.css'>
	<script src='socket.io/socket.io.js'></script>
	<script src='/static/jquery/dist/jquery.min.js'></script>
	<script src='/static/js/main.js'></script>
</head>
<body>
	<div class='container'>
		<h1>Chat Room</h1>
		<div class='chatbox'></div>
		<form>
			<input class='message form-control' type='text' name='message' placeholder="What's on your mind?">
		</form>
	</div>
</body>
</html>