* {
	margin: 0 auto;
	padding: 0px;
}
div.container {
	display: none;
	margin-top: 10px;
}
	div.container h1 {
		text-align: center;
	}
	div.container div.chatbox {
		height: 300px;
		width: 500px;
		border-radius: 5px;
		border: 2px solid #CCCCCC;
		overflow: hidden;
	}
		div.container div.chatbox p {
			margin-bottom: 0px;
			padding-left: 5px;
			padding-right: 5px;
		}
		div.container div.chatbox p.grey {
			font-style: italic;
			color: grey;
		}
	div.container form {
		margin: 0 auto;
		width: 500px;
		padding-bottom: 10px;
		/*margin-left: 5px;*/
	}
		div.container form input {
			border-radius: 5px;
			height: 32px;
		}
		div.container form input[name=message] {
			width: 100%;
			margin-top: 10px;
		}
		div.container form input[name=submit] {
			float: right;
			margin-top: 5px;
			margin-bottom: 10px;
		}